*SDF.asset !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.jpeg !text !filter !merge !diff
*.gif !text !filter !merge !diff
*.psd !text !filter !merge !diff
*.tga !text !filter !merge !diff
*.tif !text !filter !merge !diff
*.exr !text !filter !merge !diff
*.wav !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.ogg !text !filter !merge !diff
*.fbx !text !filter !merge !diff
*.blend !text !filter !merge !diff
*.ttf !text !filter !merge !diff
*.otf !text !filter !merge !diff
*.dll !text !filter !merge !diff
*.so !text !filter !merge !diff
*.a !text !filter !merge !diff
*.bundle !text !filter !merge !diff
